Playing at 1 to <%= "#{@game.odds}" %> odds.
Your stake is <%= "$#{@game.stake}" %>.

<form action="/<%= "#{@game.id}" %>" method="post">
  <input type="hidden" name="_method" value="put">
  Your wager?<input type="text" name="wager">
  <input type="submit" name="Roll dem funky dice!">
</form>